{% extends 'base.html' %}

{% block content %}
    {% if object %}
        <h1>Edit
            <span class="teal-text">{{ object.name }}</span>
        </h1>
    {% else %}
        <h1>Add Gig</h1>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        {% if object %}
            <input type="submit" value="Update Gig" class="btn">
        {% else %}
            <input type="submit" value="Add Gig" class="btn">
        {% endif %}
    </form>
{% endblock %}